@import '../../variables'

.product
    display: flex
    margin: 1rem 0
    position: relative
    border-radius: .6rem
    // height: 5rem 
    padding: .5rem 1rem
    font-family: $f1
    align-items: center
    // justify-content: space-evenly
    background-color: darken($c4, 10%)
    .product_image
      // background-color: darken($c1, 10%)
      img 
        height: 7rem
        width: 7rem
        object-fit: cover
        // border: .2rem solid $c7
    .product_info
      display: flex
      justify-content: space-around
      width: 100%
      align-items: center
      margin: 0 1rem
      color: $c5
      // .bio
      //   display: flex
      //   // justify-content: space-evenly
      //   align-items: center 
      //   width: 100%
      //   font-size: 1.5rem
      .name
        font-size: 1.3rem
        // text-align: center

        color: $c5
      .actions
        display: flex
        position: absolute
        right: 1.5rem

        flex-direction: column
        .price
          margin: 1rem 0
          color: $c5





