@import '../../variables'

.container 
  height: 100vh
  background: $c6
  font-family: $f1

.title, .main 
  background: $c6
  padding: 1rem 

.main 
  h3 
    color: $c5 
    font-size: 1.5rem
  .product_list
    list-style-type: none


